.header{
    width: 100%;
    background-color: rgb(228,177,177);
    border-bottom: solid 1px #000000;
}
.menu{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none; 
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    height: 2rem;

}